<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Document</title>

</head>
<body>
    <header class="header-nav">
        <img src="../img/logofresas.png" alt="logo don ramiro" class="logo">
        <button class="abrir-menu" id="abrir-menu"><i class="bi bi-list"></i></button>
        
    <nav class="nav">
        <ul class="nav-list">
            <button class="cerrar-menu" id="cerrar-menu"><i class="bi bi-x-lg"></i></button>
            <div class="nav-items-left">
                <li><a href="">Inicio</a></li>
                <li><a href="">Recetas</a></li>
                <li><a href="">Contacto</a></li>
            </div>

            <div class="nav-buttons">
            <li><a href="">Registro</a></li>
            <li><a href="">Ingresar<i class="bi bi-box-arrow-in-right"></i></a></li>
            </div>
            
        </ul>
    </nav>
    </header>
    <script src="../js/nav.js"></script>
</body>
</html>